body {
    margin: 0;
}

.wrapper {
    background-color: yellow;
    height: 500px;
}

#main-div {
    background-color: skyblue;
    margin-bottom: 0;
}

h1 {
    margin: 0;
    text-align: center;
    /*
        Look into TRBL concept for padding
    */
    padding-top: 1%;
    padding-bottom: 1%;
}

h2 {
    margin-top: 0;
}

#about-me {
    margin-top: 0;
    background-color: pink;
    text-align: center;
}